<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>BURGERS!</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/BURGER.png">
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script> --}}
    {{!-- <script src="/assets/js/burgers.js"></script> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> --}}
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
        <link rel="stylesheet" type="text/css" href="assets/css/style.css"> -->
</head>

<body background="/assets/img/rawpixel-577494-unsplash.jpg">
    
        <div class="justify-content-center">
            <img src="/assets/img/joyful.jpg" alt="JOYFUL BURGER" height="200" width="200">
        </div>
    
    {{{ body }}}
<div class="footer">There's a Footer here!</div>
</body>

</html>